<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace是mybaits映射文件的唯一标识,与接口对应-->
<mapper namespace="com.jt.mapper.UserMapper">

    <select id="findUserByName" resultType="User">
        select * from demo_user where name = #{name}
    </select>

    <select id="findUserByNA" resultType="User">
        select * from demo_user where name = #{name} and age = #{age}
    </select>

    <insert id="saveUser">
        insert into demo_user(id,name,age,sex) values(null,#{name},#{age},#{sex})
    </insert>



</mapper>